body {
    padding-top: 60px;
}

.login-social {
    width: 400px;
    margin: 120px auto 40px;
}

.custom-search-input {
    padding: 3px;
    border: solid 1px #E4E4E4;
    border-radius: 6px;
    background-color: #fff;
}

.custom-search-input input, .custom-search-input input:hover, .custom-search-input input:focus {
    border: 0;
    box-shadow: none;
}

.custom-search-input button {
    margin: 2px 0 0 0;
    background: none;
    box-shadow: none;
    border: 0;
    color: #666666;
    padding: 0 8px 0 10px;
    border-left: solid 1px #ccc;
}

.custom-search-input button:hover {
    border: 0;
    box-shadow: none;
    border-left: solid 1px #ccc;
    background-color: inherit;
    color: inherit;
}

.custom-search-input button:active, .custom-search-input button:focus {
    border: 0;
    box-shadow: none;
    border-left: solid 1px #ccc;
    background-color: inherit !important;
    color: inherit;
}

.custom-search-input .fa-search {
    font-size: 23px;
}